extends layout.pug

block content
    h1(class='centered')=message
    img(class='logo' src='/static/img/logo.png')
    h2(class='centered outlined')=title_body
    div(class='single-main-container')
        each modulo in [0, 1, 2]
            if memes.length > modulo 
                div(class='memes-container-column')
                    each meme, index in memes
                        if index % 3 == modulo
                            div(class='single-meme')
                                a(href='meme?id=' + meme.id)
                                    img(src=meme.url)
                                a(class='meme-title' href='meme?id=' + meme.id) #{meme.name} 
                                div='Cena '+ meme.currentPrice + 'zł'
