html
    head
        title=title
        link(rel='icon', type='image/png', href='/static/img/favicon.png')
        script(src='/static/scripts/main.js')
        block scripts
    style
        include style.css
    body
        div(class='loading-container')
            div(class='ring')
                div
                div
                div
                div
        div(class='full-container')
            block content   

            if showRef
                div(class='link-all')
                    a(href=ref)=refName + ' ⭢'

        div(id='login-button')
            if isLogged
                a(href='/logout')
                    img(src='/static/img/logout_icon.svg' alt='logout' id='logout-image')
            else
                a(href='/login')
                    img(src='/static/img/login_icon.svg' alt='login' id='login-image')
                    
        footer='Designed by Maciej Procyk @ MIMUW 2020'

        block scripts_after