extends layout.pug

block content
    h1(class='centered')='Login'
    div(class='centered-main-container')
        form(action='auth' method='POST' id='login')
            input(type='text' name='username' placeholder='Login' required)
            input(type='password' name='password' placeholder='Hasło' required)
            input(type='submit' value='Zaloguj')
        