extends layout.pug

block content
    h1(class='centered outlined' id='name')
    div(class='single-main-container')
        div(class='main-column on-left')
            img(src=meme.url)

        div(class='main-column')
            table(id='prices')

            if isLogged
                form(method='POST' id='price-form')
                    label(for='price')='Nowa cena:'
                    input(type='number' min='0' name='price')
                    button(type='submit')='Ustaw'

block scripts_after
    script(src='/static/scripts/memes_update.js' type='module')