@font-face {
    font-family: "Francois One";
    src: url("/static/fonts/FrancoisOne-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "DMMono Regular";
    src: url("/static/fonts/DMMono-Regular.ttf") format("truetype");
}


:root {
    --second-background-color: #FFFFFF;
    --main-background-color: #C22842;
    --font-black-color: #2f2f2f;
    --page-font-family: 'Francois One';
    --light-font-family: 'DMMono Regular';
    --light-shadow: 0px 1px 2px 0px #3C40434D, 0px 2px 6px 2px #3C404326;
    --card-radius: 8px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: var(--main-background-color);
    font-family: var(--page-font-family);
    color: var(--second-background-color);
    overflow-x: hidden;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: var(--second-background-color);
    color: var(--font-black-color);
    box-shadow: var(--light-shadow);
    font-family: var(--light-font-family);
}

h1 {
    font-size: 100px;
    margin: 0;
}

a > img {
    width: 100%;
    border-radius: var(--card-radius) var(--card-radius) 0 0;
}

a {
    color: inherit;
    text-decoration: inherit;
    outline : none;
}

table {
    background-color: var(--second-background-color);
    color: var(--font-black-color);
    font-family: var(--light-font-family);
    padding: 4px 0;
    width: 80%;
    text-align: center;
    border-radius: 4px;
}

td {
    border-color: var(--font-black-color);
    border-top-style: solid;
    border-top-width: 2px;
    padding: 2px 0;
}

th {
    border: none;
    padding: 3px 0;
}

table tr:nth-child(2) td {
    border-top-width: 3px;
}

form {
    padding: 16px 0;
    margin: 16px 0;
}

form > label {
    padding: 0 16px 0 0;
}

form > input {
    padding: 4px;
    font-family: var(--light-font-family);
    font-size: 16px;
    line-height: 16px;
}

input:focus {
    outline: none;
}

button {
    background: var(--second-background-color);
    color: var(--font-black-color);
    font-family: var(--page-font-family);
    border: none;
    outline: none;
    transition: all 0.25s ease;
    margin: 2px 16px;
    padding: 4px 16px;
}

button:hover {
    transform: translateY(1px);
    cursor: pointer;
}

.full-container {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 32px;
}

.logo {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 300px;
    width: 100%;
    background: var(--main-background-color);
}

.centered {
    width: 100%;
    text-align: center;
}

.single-main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 32px;
    margin-top: 64px;
}

.centered-main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 32px;
    margin-top: 64px;
}

form#login input {
    width: 80%;
    padding: 16px;
    border: 1px solid var(--font-black-color);
    margin: 16px 10%;
}

form#login input[type="submit"] {
    width: 80%;
    padding: 24px;
    background-color: var(--font-black-color);
    border: 0;
    cursor: pointer;
    font-family: var(--page-font-family);
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    color: var(--second-background-color);
    transition: all 0.25s ease;;
}

form#login input[type="submit"]:hover {
    transform: translateY(4px);
}

form#login {
    width: 60%;
    background-color: var(--second-background-color);
}

.memes-container-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    height: max-content;
    width: 33%;
}

@media (max-width: 1200px) {
    .memes-container-column {
        width: 50%;
    }
}

@media (max-width: 800px) {
    .memes-container-column {
        width: 100%;
    }
}

.single-meme {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: center;
    margin: 16px;
    width: calc(100% - 32px);
    height: max-content;
    background-color: var(--second-background-color);
    color: var(--font-black-color);
    box-shadow: var(--light-shadow);
    border-radius: var(--card-radius);
    transition: all 0.5s ease;
}

.single-meme:hover {
    transform: translateY(8px);
}

.single-meme > a {
    width: 100%;
    margin: 0;
}

.meme-title {
    text-align: center;
    margin: 16px 0 !important;
    line-height: 32px;
    font-size: 32px;
}

.outlined {
    margin-top: 64px; 
    font-size: 60px;
    background-color: var(--second-background-color);
    color: var(--font-black-color);
}

.single-meme > div {
    width: 100%;
    text-align: center;
    margin: 8px 0;
}

.link-all {
    width: calc(100% + 16px);
    text-align: center;
    background-color: var(--font-black-color);
    color: var(--second-background-color);
    padding: 20px 0;
    line-height: 32px;
    font-size: 32px;
    transition: all 0.5s ease;
    transform: translateX(-8px);
}

.link-all:hover {
    transform: translateX(0);
}

.main-column {
    width: 50%;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 800px) {
    .main-column {
        width: 100%;
    }
}

.main-column > img {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
}

.main-column.on-left {
    align-items: flex-start;
}

@media (min-width: 800px) {
    .main-column > img {
        border-radius: 0 12px 12px 0;
        width: 90%;
    }
}

.loading-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-background-color);
    z-index: 1000;
    transition: all 0.5s ease-out;
}

.hidden {
    transform: translateY(100%);
}

.removed {
    display: none !important;
}

.loading-container > .ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    z-index: 1000;
}

.ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#error-box {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

#error-name {
    background: var(--second-background-color);
    color: var(--font-black-color);
    height: max-content;
    width: 100%;
    text-align: center;
    line-height: 64px;
    font-size: 64px;
    padding: 16px 0;
}

#login-button {
    position: fixed;
    top: 32px;
    left: 32px;
    height: 80px;
    width: 80px;
    background-color: var(--second-background-color);
    border-color: var(--font-black-color);
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    box-shadow: var(--light-shadow);
}

#login-button:hover {
    transform: translateX(4px);
}

#login-image {
    height: 36px;
    width: 36px;
}

#logout-image {
    height: 36px;
    width: 36px;
}